<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Otter</title>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" type="text/css" media="screen, projection" /> 
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/print.css" type="text/css" media="print" /> 
	<!--[if IE]>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="screen, projection" />
	<![endif]--> 
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen, projection" /> 

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
        <!--div class="container showgrid"-->
            <div class="span-16 prefix-4">
                <div class="header container">
                    <div class="span-8 branding"> 
                        <h1 class="logo2">Otter</h1>
                        <h2 class="tagline">Microblogging for oDesk</h2>
                    </div>
                    <div class="span-8"> 
                    {% if user.is_authenticated %}
                        <p style="text-align: right">{{ user.get_full_name }} ({{ user.username }}) | <a href="{% url django.contrib.auth.views.logout %}">Logout</a></p>
                    {% else %}
                        <p style="text-align: right"><a href="{% url django.contrib.auth.views.login %}">Log in</a></p>
                    {% endif %}
                    </div>
                </div>
                <div class="main">
                {% block body %}
                {% endblock %}
                </div>
                <div class="footer">&copy; 2010 oDesk Corporation</div>
                </div>
            </div>
        </div>
    </body>
</html>
