{% extends "main/base.html" %}

{% block top_area %}
    <h2 class="user">{{ owner }}</h2>
    {% ifnotequal user owner %}
        <form action="{% url follow %}" method="post">
            <input type="hidden" name="user_name" value="{{ owner.username }}"/>
            <input type="hidden" name="redirect" value="{{ url }}"/>
            {% if following %}
                <input type="hidden" name="follow" value="0"/>
                You are following this user. <button type="submit">Unfollow</button>
            {% else %}
                <input type="hidden" name="follow" value="1"/>
                <button type="submit">Follow</button> this user.
            {% endif %}
            {% csrf_token %}
        </form>
    {% endifnotequal %}
{% endblock %}

{% block body %}
    

    {% for message in timeline %}
    <div class="message">
        <div class=""> 
            <a href="{% url user_timeline message.sender.odesk_id %}">{{ message.sender }}</a>  {{ message.text }}
        </div>
        <div>
            {{ message.timestamp|date:"H:m" }}
        </div>
    </div>
    {% endfor %}

    <form action="{% url post %}" method="post">
        {{ form.text }}
        <input type="hidden" name="redirect" value="{{ url }}"/>
        <button type="submit">Send</button>
        {% csrf_token %}
    </form>
{% endblock %}
