{% extends "main/base.html" %}

{% block top_area %}
    <h2 class="user">{{ owner }}</h2>
    <p>Public timeline</p>
    {% ifnotequal user owner %}
        <form action="{% url follow %}" method="post">
            <input type="hidden" name="user_name" value="{{ owner.username }}"/>
            <input type="hidden" name="redirect" value="{{ url }}"/>
            {% if following %}
                <input type="hidden" name="follow" value="0"/>
                You are following this user. <button type="submit">Unfollow</button>
            {% else %}
                <input type="hidden" name="follow" value="1"/>
                <button type="submit">Follow</button> this user.
            {% endif %}
            {% csrf_token %}
        </form>
    {% endifnotequal %}
{% endblock %}

{% block body %}
    
    <div>
    <form action="{% url post %}" method="post">
        <p><textarea name="text"></textarea></p>
        <input type="hidden" name="redirect" value="{{ url }}"/>
        <p><button type="submit">Send</button></p>
        {% csrf_token %}
        <br/>
    </form>
    </div>

    <div class="timeline">
        {% for message in timeline %}
        <div class="message">
            <div class=""> 
                <a href="{% url user_timeline message.sender.odesk_id %}">{{ message.sender }}</a>  {{ message.text }}
            </div>
            <div>
                {{ message.timestamp|date:"H:m" }}
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
