{% extends "main/base.html" %}
{% load markup %}

{% block top_area  %}
<h2 class="team">{{ team.title }}</h2>
<p>Team room</p>
<p>
    <form action="{% url follow %}" method="post">
        <input type="hidden" name="team_name" value="{{ team.name }}"/>
        <input type="hidden" name="redirect" value="{{ url }}"/>
        {% if following %}
            <input type="hidden" name="follow" value="0"/>
            <button type="submit">Remove</button> from favorites
        {% else %}
            <input type="hidden" name="follow" value="1"/>
            <button type="submit">Add</button> to favorites
        {% endif %}
        {% csrf_token %}
    </form>
</p>
{% endblock %}

{% block body %}
    

    <div>
    <form action="{% url post %}" method="post">
        <p><textarea name="text"></textarea></p>
        <input type="hidden" name="team_name" value="{{ team.name }}"/>
        <input type="hidden" name="redirect" value="{{ url }}"/>
        <p><button type="submit">Send</button></p>
        {% csrf_token %}
        <br/>
        <br/>
    </form>
    </div>
    <div class="timeline">
        {% for message in timeline %}
        <div class="message">
            <div class=""> 
                <a href="{% url user_timeline message.sender.odesk_id %}">{{ message.sender }}</a>  {{ message.text}}
            </div>
            <div>
                {{ message.timestamp|date:"H:m" }}
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
