/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************/

.main {
    background: #f2f2ff; 
}

.timeline {
  /*  background: #d2d2dd; */
}

.message {
    border-top: 1px #ccc solid;
}

.top_area {
    background: #d2d2dd;
}


/**************************************/
/*              GLOBALS               */
/**************************************/


/**************************************/
/*              HEADER                */
/**************************************/

h1.logo {
    background: url('../images/logo.png');
    height: 39px;
    text-indent: -200px;
    overflow: hidden;
    width: 119px;
}

h1.logo2 {
    background: url('../images/logo2.png');
    height: 114px;
    text-indent: -200px;
    overflow: hidden;
    width: 140px;
}

h2.tagline {
    display: none;
}

.top_area h2 {
    font-size: 1.3em; 
}

h2.team {
    font-style: italic;
}


/**************************************/
/*             NAVIGATION             */
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
/**************************************/



/**************************************/
/*               FOOTER               */
/**************************************/

